<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://unpkg.com/tesseract.js@v2.0.2/dist/tesseract.min.js'></script>
	
	
</head>

<body>

	<div style="width:40%;float:left;border:0.5px solid skyblue;">
	
	<h3>Traitement:</h3>
	<select><option>Derivation</option><option>Saisie</option><option>Saisie DM</option><option>Ne Pas Traiter</option></select>
	<h3>TextBrut:</h3>
	<textarea type="text" ></textarea>
	<h3>Notice: <button>Process</button></h3>
	<textarea type="text" ></textarea>
	</div>	
	<div style="width:55%;float:left;border:0.5px solid skyblue;padding:2px;">
	<iframe src="https://catalogue.bnf.fr/" width="100%" height="800px" style="border:1px solid black;"></iframe>
	</div>
    

</body>

</html>