<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://unpkg.com/tesseract.js@v2.0.2/dist/tesseract.min.js'></script>
	
	
</head>

<body>

	<div style="width:40%;float:left;border:0.5px solid skyblue;">
	<h2>Capturing Form</h2>
	<h3>TxtBrut:</h3>
	<textarea type="text" ></textarea>	
	</div>	
	<div style="width:55%;float:left;border:0.5px solid skyblue;padding:2px;">
	<img src='T002_006.jpg' width='600px' /></img>
	</div>
    

</body>

</html>