    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="index.html">
                            <!-- <img src="assets/images/logo.png" alt="" /> --><span>Focus</span></a></div>
                    <li class="label">Main</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Home <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="index.html">Dashboard</a></li>
                            
                        </ul>
                    </li>                  
                    
					<li><a href="uc-calendar.html"><i class="ti-calendar"></i> Calendar</a></li>
					<!--<li><a href="ui-progressbar.html"><i class="ti-progress"></i> Progressbar</a></li>-->	
					<li><a href="table-export.html"><i class="ti-menu-alt"></i> Datatable Export</a></li>
                    <!--<li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Table <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            

                            <li><a href="table-export.html">Datatable Export</a></li>
                            <li><a href="table-row-select.html">Datatable Row Select</a></li>
                            <li><a href="table-jsgrid.html">Editable </a></li>
                        </ul>
                    </li> --> 
                    <!--<li><a href="form-basic.html"><i class="ti-view-list-alt"></i> Basic Form </a></li>-->                     
                    <li><a><i class="ti-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>